* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.startedin {
  margin: auto;
  margin-top: 30vh;
}

.startedin img {
  width: 100px;
  height: 100px;
  text-align: center;
  position: relative;
  -webkit-animation: mymove 2s;
          animation: mymove 2s;
}

@-webkit-keyframes mymove {
  from {
    top: 200px;
  }
  to {
    top: 0px;
  }
}

@keyframes mymove {
  from {
    top: 200px;
  }
  to {
    top: 0px;
  }
}

@media only screen and (max-width: 600px) {
  #cart {
    display: none;
    width: 20px;
    position: absolute;
  }
  #user {
    display: none;
  }
  .refer {
    display: none;
  }
  img {
    width: 20px;
  }
  .carousel {
    display: none;
  }
  .velew {
    display: none;
  }
  .main {
    text-align: center;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .card {
    text-align: center;
    margin: auto;
  }
  .card img {
    width: 100%;
  }
}

#accordion {
  background-color: #fff;
}

#myProgress {
  display: block;
  width: 50vh;
  background-color: #fff;
  text-align: center;
  margin: auto;
}

#myBar {
  width: 60%;
  height: 30px;
  background: linear-gradient(35deg, #f5f59f, yellow);
  border-radius: 10px;
  text-align: center;
  line-height: 30px;
  color: black;
}

.bigData {
  display: none;
}

#carouselExampleIndicators {
  width: 120vh;
  background-color: black;
}

.nav {
  padding-top: 10px;
  width: 100%;
  height: 10vh;
  background-image: url("https://i.pinimg.com/originals/28/79/ac/2879accc54c1b22f91f97d7d650ae43f.jpg");
  background-size: cover;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav #icon {
  width: 20vh;
}

.nav #myinput {
  width: 60vh;
  height: 6vh;
  border-radius: 40px;
  border: none;
  padding-left: 20px;
}

.nav p {
  border: solid 2px;
  width: 100px;
  height: 30px;
  text-align: center;
  font-size: 2rm;
}

.nav div {
  width: 20vh;
  row-gap: 5px;
}

.nav .refer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vh;
  gap: 15px;
  margin-left: 20px;
  padding-left: 20px;
  row-gap: 20px;
}

.nav img {
  width: 50px;
  height: 50px;
}

.nav .openSind {
  float: right;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #e5291f;
}

.velew {
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.velew .left {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 50vh;
  height: 60vh;
  background-color: #fffd;
  background-size: cover;
  display: block;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
  text-overflow: clip;
}

.velew .left img {
  width: 20px;
  height: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-right: 5px;
}

.velew .left .one_list {
  padding-top: 10px;
  width: 100%;
  height: 50px;
  border: solid black 0.5px;
}

.velew .left .two_list {
  padding-top: 10px;
  width: 100%;
  height: 50px;
}

.velew .left .there_list {
  padding-top: 10px;
  width: 100%;
  height: 50px;
}

.velew .left .four_list {
  padding-top: 10px;
  width: 100%;
  height: 50px;
}

.velew img {
  float: right;
  width: 100%;
  height: 60vh;
}

.rught {
  width: 34vh;
  height: 100%;
  float: right;
  display: block;
  background-image: url("https://as2.ftcdn.net/v2/jpg/04/89/73/91/1000_F_489739144_QaAwfCjoICKcLcesp6VCjWYSXCzZCajU.jpg");
  background-size: cover;
}

.rught .sistemone {
  width: 100%;
  height: 50%;
  padding: 30px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  background-size: cover;
  color: #fff;
  text-shadow: 0 , 2 black;
  font-weight: 600;
  padding-top: 40px;
}

.rught .sistemtwo {
  width: 100%;
  height: 50%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  background-size: cover;
  color: #fff;
  text-shadow: 0 , 2 black;
  font-weight: 600;
  padding-top: 40px;
  padding: 20px;
}

.rught .sistemtwo div {
  width: 100px;
  height: 50px;
}

.main {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 15vh;
  gap: 10px;
  background-color: #fff;
}

#cart {
  width: 50px;
  height: 50px;
}

.open {
  display: block;
}

.sidebar {
  display: none;
  width: 20vw;
  height: 100%;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #e6dada;
  overflow: scroll;
  position: fixed;
}

.sidebar img {
  height: 100px;
  width: 100px;
}

.exet {
  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  opacity: 1;
  margin-left: 190vh;
  margin-top: -50px;
  opacity: 0.7;
  border: none;
  border-radius: 10px;
  background-color: #ff3c00;
  z-index: 4;
}

.sind {
  display: none;
  background-image: url("https://cdn.oboi7.com/748cbc1e411b98aa9b62b2f41fda3d3d133998b9/abstrakcii-blyur-razmytie.jpg");
  background-size: cover;
  color: #FFF;
}

.sind button {
  background-color: red;
  border: none;
  width: 30vh;
  height: 8vh;
}

.sind .iconmen {
  width: 45vh;
  height: 200px;
  text-align: center;
  -webkit-transition: 5s;
  transition: 5s;
  margin: auto;
}

.sind .iconmen img {
  margin: auto;
  position: absolute;
  margin-left: -15vh;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.preloader {
  background-color: black;
  margin: auto;
}

.enter {
  -webkit-transition: 4s;
  transition: 4s;
  width: 45vh;
  padding: 10vh;
  height: 100%;
  display: block;
  position: absolute;
  margin-bottom: 20vh;
  background-color: #1b1a1d;
  float: right;
  text-align: center;
  z-index: 2;
  margin-left: 80%;
}

#upone {
  border: none;
  direction: none;
  color: black;
}

.main_proudct {
  margin: auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_proudct button {
  border: none;
}

#newcard {
  width: 30vh;
  height: 55vh;
}

#newcard img {
  width: 100%;
  height: 200px;
}

#newcard button {
  border: none;
  background-color: red;
  width: 90px;
  height: 40px;
  border-radius: 10px;
}

#newcard button:hover {
  background-color: #dfe622;
}

#accordion {
  display: none;
}

@media (max-width: 570px) {
  .nav {
    width: 100%;
    padding: none;
  }
  .enter {
    margin-left: 50%;
  }
  .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  .main #card {
    width: 10px;
    height: 100px;
  }
  #myinput {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */